<div class="container">
	<div class="bookPanel" *ngFor="let book of books">
		<img id="bookImage" [src]="book.imageUrl" [alt]="book.name" routerLink="/books/{{book.id}}"/>
		<div class="bookDescription">
			<span class="author">{{book.author}}</span>
			<h5 class="title">{{book.name}}</h5>
			<div class="star">
				<ngb-rating [max]="5" [(rate)]="book.stars" [readonly]="true"></ngb-rating>
				<img id="favouriteImg" (click)="updateFavourite(book.id)" src="{{book.favourite?'/assets/favourite.svg':'/assets/notFavourite.svg'}}"/>
			</div>
		</div>
	</div>
</div>
	
