<app-search></app-search>
<div class="container">
	<div class="bookPanel" *ngFor="let book of books">
		<img id="bookImage" [src]="book.imageUrl" [alt]="book.title" routerLink="/books/{{book.id}}"/>
		<div class="bookDescription">
			<span class="author">{{book.author}}</span>
			<h5 class="title">{{book.title}}</h5>
			<div class="star">
				<ngb-rating [max]="5" [(rate)]="book.stars" (rateChange)="changeRating(book.id,book.stars)"></ngb-rating>
				<img id="favouriteImg" (click)="updateUserFavourite(book.isbn)" src="{{isFav(book.isbn)?'/assets/favourite.svg':'/assets/notFavourite.svg'}}"/>
			</div>
		</div>
	</div>
</div>
	
