<div class="home">
	<div class="search">
		<input type="text" placeholder="Search..."/>
		<button>Search</button>
	</div>
	<div class="content">
		<ul>
			<li *ngFor="let book of books">
				<a>
					<img [src]="book.imageUrl" [alt]="book.name"/>
					<div class="details">
						<span>{{book.name}}</span>
						<span>{{book.author}}</span>
					</div>
					<div class="favourite">
						<span>
							<ngb-rating [max]="5" [(rate)]="book.stars" [readonly]="true"></ngb-rating>
						</span>
						<span>
							<img src="{{book.favourite?'/assets/favourite.svg':'/assets/notFavourite.svg'}}"/>
						</span>
					</div>

				</a>
			</li>
		</ul>
	</div>
</div>
