.home {
	display: flex;
	flex-direction: column;
	height:100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.search {

	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:1rem;
}
.search input {
	border-radius: 1rem 0 0 1rem;
	border: 1px solid #242424;
	background: none;
	outline:none;
	height:2.5rem;
	width:75%;
	font-size:1.1rem;
	padding-left: 1rem;
}
.search button {
	border-radius: 0 1rem 1rem 0;
	border: 1px solid #242424;
	border-left:none;
	background: none;
	outline:none;
	height:2.5rem;
	width:25%;
	font-weight: bold;
	font-size:1.1rem;
}
.search button:hover{
	background: #242424ac;
}
