.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color:#fff;
	width:50%;
	height:85vh;
}
.content {
	box-shadow: 0 0 1rem 0 rgba(81, 90, 143, 0.379);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:100%;
	background: rgba(81, 90, 143, 0.379);
	backdrop-filter: blur(5px);
	border-radius: 1rem;
}
.content input,select {
	margin-bottom: 1.2rem;
	border-radius: 1.5rem;
	border:none;
	outline:none;
	padding-left: 1rem;
	height:2rem;
	max-width:70%;
	width:70%;

}
.content input:focus {
	outline: 2px solid green;
}
.content button {
	margin:1rem 0 1rem 0;
	height:2.5rem;
	border-radius: 1.5rem;
	width:50%;
	border:none;
	outline:none;
}
.content button:hover {
	opacity: 0.8;
 }
.addBookForm {
	display: flex;
	flex-direction: row;
	width: 85%;
	margin:2rem;

}
.formWrapper {
	width:60%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height:22rem;
}
.resultButtons {
	display: flex;
	flex-direction: row;
	width:75%;
	justify-content: space-between;
}
.resultButtons button {
	margin: 0 1rem;
}
.pic {
	width:40%;
	display: flex;
	justify-content: center;
	align-items: center;
	height:22rem;
	max-height:22rem;
}
.pic img {
	width:80%;
	height:100%;
	padding:1rem;
}



