<div class="container">
	<app-title title="Add a new Book" margin="4rem 0 2rem 0" fontSize="2.5rem"></app-title>
	<div class="content">
		<h2>Get started by entering a Book Title</h2>
		<h3>Or quick add by entering the ISBN</h3>
		<form class="addBookForm">
			<div class="formWrapper">
				<label for="isbn">Search by ISBN:</label>
				<input id="ISBN" #s type="text" [value]="selectedBookIsbn" />
				<label for="title" >Search by Title:</label>
				<input id="title" #t type="text" [value]="t.value"/>
				<button (click)="lookupBooksByTitle(t.value)" *ngIf="!t.value">Search</button>
				<label for="results" *ngIf="t.value">Search Results:</label>
				<select id="results" *ngIf="t.value" (change)="selectChangeHandler($event)">
					<option *ngFor="let result of matchingBooks" [value]="result.isbn">{{result.title + " by " + result.author + " (ISBN: " + result.isbn + ")"}}</option>
				</select>

				<button *ngIf="selectedBookIsbn" (click)="addBookByIsbn()">Add</button>
			</div>
			<div class="pic" *ngIf="imageUrl">
				<img alt="BookCover" [src]="imageUrl"/>
			</div>
		</form>
	</div>
</div>
