<div class="container">
	<app-title title="Add a new Book" margin="4rem 0 2rem 0" fontSize="2.5rem"></app-title>
	<div class="content">
		<h2>Get started by entering a Book Title</h2>
		<h3>Or quick add by entering the ISBN</h3>
		<form class="addBookForm" [formGroup]="addItemForm">
			<div class="formWrapper">
				<label for="isbn">Search by ISBN:</label>
				<input id="ISBN" type="text" formControlName="isbn" />
				<label for="title" >Search by Title:</label>
				<input id="title" type="text" formControlName="title"/>
				<button (click)="lookupBooksByTitle()" *ngIf="!isSubmitted">Search</button>
				<label for="results" *ngIf="isSubmitted">Search Results:</label>
				<select id="results" *ngIf="isSubmitted" (change)="selectChangeHandler($event)">
					<option *ngFor="let result of matchingBooks" [value]="result.isbn" selected>{{result.title + " by " + result.author + " (ISBN: " + result.isbn + ")"}}</option>
				</select>
				<div class="resultButtons">
					<button *ngIf="isSubmitted" (click)="clearSearch()">Clear</button>
					<button *ngIf="isSubmitted" (click)="addBookByIsbn()">Add</button>
				</div>
			</div>
			<div class="pic" *ngIf="fc['url'].value">
				<img alt="BookCover" [src]="fc['url'].value"/>
			</div>
		</form>
	</div>
</div>
