.headerContainer {
	display: flex;
	width:100%;
	background:none;
	border-bottom: 2px solid #242424ac;
	height:5rem;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.headerLogo {
	margin: 0 1rem 0 2rem;
}
.headerLogo h1,a {
	font-size: 1.5rem;
	text-transform: lowercase;
	color:#242424;
}
.headerPageLinks, .headerPageLinks ul {
	margin: 0 2rem 0 1rem;
	display: flex;
	list-style: none;
}
.headerPageLinks li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
}


img {
	margin:1.5rem;
	width: 30px;
	height:30px;
}
img:hover{
	animation: spinnyBoi 1s both;
}
@keyframes spinnyBoi {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

button {
	background-color: #ccc;
	border: 1px solid #242424;
	border-radius: 5px;
	font-size: 1.1rem;
}
button:hover {
	opacity: 0.8;

}
