.headerContainer {
	display: flex;
	width:100%;
	background:none;

	height:5rem;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 2rem rgb(48, 47, 47);;
	background: rgb(47, 47, 47);

}
.headerLogo {
	margin: 0 1rem 0 2rem;
}
.headerLogo h1,a {
	font-size: 1.5rem;
	text-transform: lowercase;
	color:#ccc;
}
.headerPageLinks, .headerPageLinks ul {
	margin: 0 2rem 0 1rem;
	display: flex;
	list-style: none;
}
.headerPageLinks li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
}


img {
	margin:1.5rem;
	width: 30px;
	height:30px;
}
img:hover{
	animation: spinnyBoi 1s both;
}
@keyframes spinnyBoi {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

button {
	background-color: #ccc;
	border: 1px solid #242424;
	border-radius: 5px;
	font-size: 1.1rem;
}
button:hover {
	opacity: 0.8;

}


.toggle {
	border-radius:5px;
	display:flex;
	position:relative;
	width:5rem;
	height:2rem; 
	background:blue;
	margin:2rem;
}
.toggle + label .card{

	background-color: red;
}

.toggle:after, .toggle:before {
	flex:1;
	text-align:center;
	line-height:2rem;
	font-size:0.8rem;
}
.toggle:after {
	content:"dark";
}
.toggle:before {
	content:"light";
}  
label {
	position:absolute;
	top:0; 
	bottom:0;
	left:0; 
	right:0; 
	cursor:pointer;
}
  
  /* Dark */
.card {
	position:relative;
	background:#00a82a;
	transition:0.4s;
	width:50%;
	height:2rem;
}

input { display:none; }
input:checked + label .card { 
	background:#05949e; 
}
  
.slide .card { 
	transform:translate(0); 
}
.slide input:checked + label .card 
{
	transform:translateX(2.5rem);
}
