<div class="headerContainer">
	<div class="headerLogo">
		<a routerLink="/"><h1>BookWorm Collection</h1></a>
	</div>
	<div class="headerPageLinks">
		<ul>
			<li>
				<a routerLink="/"><img src="/assets/home.svg" alt="Home"></a>
			</li>
			<li>
				<a routerLink="/add"><img src="/assets/add.svg" alt="Add"></a>
			</li>
			<li *ngIf="isAuth" class="account">
				<a class="userName">{{user.name}}</a>
				<div class="accPanel">
					<a routerLink="/">Account</a>
					<a routerLink="/login" (click)="logout()">Logout</a>
				</div>
			</li>
			<li *ngIf="!isAuth">
				<a routerLink="/login"><img src="/assets/profile.svg" alt="Log In"></a>
			</li>
			<li>
				<div class="themeBox">
					<div class="light">Light</div>
					<div class="dark">Dark</div>
				</div>
			</li>
		</ul>
	</div>
</div>
