.search-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:1rem;
}
input {
	border-radius: 1rem 0 0 1rem;
	border: 1px solid #242424;
	background: none;
	outline:none;
	height:2.5rem;
	width:75%;
	font-size:1.1rem;
	padding-left: 1rem;
}

button {
	border-radius: 0 1rem 1rem 0;
	border: 1px solid #242424;
	border-left:none;
	background: none;
	outline:none;
	height:2.5rem;
	width:25%;
	font-weight: bold;
	font-size:1.1rem;
}

img {
	height: 2rem;
}
