.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top:3rem;
	width:75%;
	background: rgba(81, 90, 143, 0.379);
	backdrop-filter: blur(5px);
	box-shadow: 0 0 1rem 0 rgba(81, 90, 143, 0.379);
	border-radius: 25px;
	color:#fff;
}
.bookImage {
	display: flex;
	width:50%;
	justify-content: center;
	align-items: center;
	height: 75vh;
}
.delete {
	width:40px;
	height:40px;
	border-radius: 50%;
	background-color: transparent;
	background:no-repeat center url("/assets/delete.svg");
	border: 1px solid #fff;
}
.delete:hover {
	opacity: 0.8;
	cursor: pointer;
	box-shadow: 0 0px 2px 1px #ffffffac;
}
.content {
	display: flex;
	width:50%;
	flex-direction: column;
	justify-content: center;
	margin-left: 2rem;
}
img {
	object-fit: scale-down;
	height: 40rem;
	margin: 1rem;
}
h1 {
	display: flex;
	justify-content: flex-start;
	align-items: center;

}
h1 img {
	max-height: 2rem;
	margin-left: 2rem;
}
.rating {

	justify-content: space-around;
	align-items: center;
	display: flex;
	height:2rem;
	width:50%;
	margin:2rem 1rem 0 0;
}
.categories {
	margin-top:1rem;
	line-height: 2.4rem;
}
.categories span {
	background: #dcdcdc;
	color:#242424;
	border-radius:5px;
	padding: 0.3rem 0.4rem;
	margin:0.5rem 0.4rem;
}
